#app {
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  color: #000;
  font-family: 'W-Medium', 'W-Book', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  #app.preview {
    overflow: hidden;
    zoom: 0.6;
    cursor: pointer !important; }
  #app #container-loader {
    width: 1920px;
    height: 1080px;
    background-color: #000;
    position: absolute;
    z-index: 20;
    overflow: hidden; }
  #app #sky {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    background-color: #3d3d3d; }
  #app #sky-trans {
    backface-visibility: hidden;
    width: 3500px;
    height: 3500px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    transform: translate(-1000px, -1100px);
    background: radial-gradient(circle, #646464 0%, rgba(100, 100, 100, 0.2) 40%, rgba(100, 100, 100, 0.1) 50%, rgba(100, 100, 100, 0) 60%);
    background-size: 100%;
    background-repeat: no-repeat;
    animation: animate-background 30s infinite; }
  #app #container-translator {
    width: 1920px;
    height: 45px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    background-color: #000; }
  #app #container-credits {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 999;
    background-color: #000;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
    #app #container-credits.hide-anim {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1); }
  #app #container-system {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    position: absolute;
    z-index: 1; }
  #app .hide {
    display: none; }

@keyframes animate-background {
  0% {
    transform: translate(-1000px, -1100px); }
  50% {
    transform: translate(-100px, -1100px); }
  100% {
    transform: translate(-1000px, -1100px); } }
