@import "./_vars.scss";

#credits {

  button {
    position: absolute;
    z-index: 1;
    top: 32px;
    left: 50px;
    width: 62px;
    height: 62px;
    background-image: url('../img/credits-close-btn.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #000;
    &:active {
      opacity: 0.7;
    }
  }

  h1 {
    margin-top: 32px;
		margin-bottom: 30px;
    text-align: center;
		font-family: 'W-Narrow-Book';
    line-height: 1;
    font-size: 40px;
    color: #fff;
  }

  .credits-list-container {
    margin-left:50px;
    width: 1120px;
    height: 800px;

    ul {
      list-style: none;
      width: 1120px;
      columns: 2;
      li {
        list-style: none;
        width: 500px;
        padding-right: 50px;
      }
    }
  }
}
