#loader {

  #asset-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 998;
    opacity: 0;
    img {
      width: 50px;
      height: 30px;
      float: left;
    }

    #loader-source-images {
      div {
        width: 50px;
        height: 50px;
        float: left;
        overflow: hidden;
        background-position: 0, 0;
        background-repeat: no-repeat;
      }

      #carbon_air-and-ocean-interact {
        background-image: url('../img/popup/Carbon_air-and-ocean-interact.png');
      }
      #carbon_oil-reservoirs {
        background-image: url('../img/popup/Carbon_californias-oil-reservoirs.png');
      }
      #carbon_forests-store-carbon {
        background-image: url('../img/popup/Carbon_forests-store-carbon.png');
      }
      #carbon_land-on-the-move {
        background-image: url('../img/popup/Carbon_land-on-the-move.png');
      }
      #carbon_seafood-connection {
        background-image: url('../img/popup/Carbon_seafood-connection.png');
      }
      #carbon_volcano-remnants {
        background-image: url('../img/popup/Carbon_volcano-remnants.png');
      }
      #fog_chardonnay-loves-fog {
        background-image: url('../img/popup/Fog_chardonnay-loves-fog.png');
      }
      #fog_coastal-contours {
        background-image: url('../img/popup/Fog_coastal-contours.png');
      }
      #fog_drink-from-sea {
        background-image: url('../img/popup/Fog_drink-from-the-sea.png');
      }
      #fog_fantastic-fog-flows {
        background-image: url('../img/popup/Fog_fantastic-fog-flows.png');
      }
      #fog_field-of-fog {
        background-image: url('../img/popup/Fog_field-of-fog.png');
      }
      #fog_fog-blanket {
        background-image: url('../img/popup/Fog_fog-blanket.png');
      }
      #fog_fog-drip {
        background-image: url('../img/popup/Fog_fog-drip.png');
      }
      #fog_water-in-the-air {
        background-image: url('../img/popup/Fog_water-in-the-air.png');
      }
      #fog_watershed-refill {
        background-image: url('../img/popup/Fog_watershed-refill.png');
      }
      #upwelling_dining-destinations {
        background-image: url('../img/popup/Upwell_dining-destinations.png');
      }
      #upwelling_disappearing-kelp {
        background-image: url('../img/popup/Upwell_disappearing-kelp.png');
      }
      #upwelling_harmful-algae-bloom {
        background-image: url('../img/popup/Upwell_harmful-algae-bloom.png');
      }
      #upwelling_kelp-forest {
        background-image: url('../img/popup/Upwell_kelp-forest.png');
      }
      #upwelling_marine-mammal-impacts {
        background-image: url('../img/popup/Upwell_marine-mammal-impacts.png');
      }
      #upwelling_ocean-research {
        background-image: url('../img/popup/Upwell_ocean-research.png');
      }
      #upwelling_plankton-bloom {
        background-image: url('../img/popup/Upwell_plankton-bloom.png');
      }
      #upwelling_sheltered-by-kelp {
        background-image: url('../img/popup/Upwell_sheltered-by-kelp.png');
      }
      #upwelling_toxic-buffet {
        background-image: url('../img/popup/Upwell_toxic-buffet.png');
      }

    }

    // dom render all fonts
    p {
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #333;
    }
    p.wa {
      font-family: 'W-Condensed-Medium';
    }
    p.wb {
      font-family: 'W-Condensed-Semibold';
    }
    p.wc {
      font-family: 'W-Book';
    }
    p.wd {
      font-family: 'W-Medium';
    }
    p.we {
      font-family: 'W-Narrow-Semibold';
    }
    p.wf {
      font-family: 'W-Narrow-Book';
    }
    p.wg {
      font-family: 'W-Semibold';
    }
    p.ca {
      font-family: 'SourceHanSansCN-Normal';
    }
    p.cb {
      font-family: 'SourceHanSansCN-Medium';
    }
    p.cc {
      font-family: 'SourceHanSansCN-Bold';
    }
  }

  #message-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 997;
    p {
      margin: 0;
      padding: 0;
      margin-top: 500px;
      text-align: center;
      vertical-align: middle;
      color: #ffffff;
      font-family: 'W-Narrow-Book', Helvetica, Arial, sans-serif;
      font-size: 79px;
      line-height: 79px;
      font-weight: normal;
      letter-spacing: 3px;
    }

  }

}
