@import "./_vars.scss";

#nav {

  user-select: none;
  width: 426px;
  height: 100%;

  #container-nav-buttons {
    position: absolute;
    z-index: 1;
    top: 693px;
    //bottom: 150px;
    left: 50px;
    width: 280px;

    button {
      color: #fff;
      font-family: 'W-Semibold', 'SourceHanSansCN-Bold';
      width: 340px;
      //height: 50px;
      padding: 16px 15px 13px 15px;
      padding-bottom: 13px;
      border: 2px solid #fff;
      outline: none;
      margin-top: 20px;
      font-size: 22px;
      line-height: 26px;
      font-weight: normal;
      //white-space: pre-line;
      background-color: transparent;
      &:active {
        opacity: 0.7;
      }
      &.selected {
        .system-0 & {
          color: $blue;
          background-color: #fff;
        }
        .system-1 & {
          color: $orange-new;
          background-color: #fff;
        }
        .system-2 & {
          color: $green;
          background-color: #fff;
        }
      }
      &.pulse {
        animation: pulse 12s $easing infinite;
      }
    }
  }

}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  70% {
    background-color: rgba(255, 255, 255, 0);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  80% {
    background-color: rgba(255, 255, 255, 0);
  }
  85% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  90% {
    background-color: rgba(255, 255, 255, 0);
  }
  95% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
