#sticker {
  width: 1920px;
  height: 1080px;
  overflow: hidden; }
  #sticker .sticker {
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4; }
    #sticker .sticker.on {
      opacity: 1; }
  #sticker #sticker-kelp-healthy {
    background-image: url("../img/sticker/kelp-healthy.png");
    width: 167px;
    height: 259px; }
  #sticker #sticker-kelp-unhealthy {
    background-image: url("../img/sticker/kelp-unhealthy.png");
    width: 129px;
    height: 224px; }
  #sticker #sticker-whale {
    background-image: url("../img/sticker/whale.png");
    width: 380px;
    height: 149px; }
  #sticker #sticker-crab {
    background-image: url("../img/sticker/crab.png");
    width: 182px;
    height: 131px; }
