#translator button {
  margin: 0;
  padding: 0;
  border: none;
  border-left: 1px solid #fff;
  outline: none;
  height: 45px;
  width: 210px;
  float: right;
  background-color: #000;
  font-size: 23px;
  line-height: 23px;
  font-weight: normal;
  letter-spacing: 1.25px;
  color: #fff; }
  #translator button span {
    font-family: 'W-Condensed-Medium', 'SourceHanSansCN-Medium';
    display: inline-block;
    padding-top: 2px; }
    #translator button span:active {
      opacity: 0.7; }
    .system-0 #translator button span {
      color: #009cde; }
    .system-1 #translator button span {
      color: #ff9e1b; }
    .system-2 #translator button span {
      color: #6cc24a; }
    .credits #translator button span {
      color: #676767 !important; }
  #translator button.credits {
    font-family: 'W-Narrow-Semibold';
    font-size: 15px;
    width: 100px; }
    #translator button.credits span {
      color: #676767;
      font-family: 'W-Narrow-Semibold' !important; }
    #translator button.credits.active span {
      font-family: 'W-Narrow-Semibold';
      color: #676767; }
  #translator button.active span {
    font-family: 'W-Condensed-Semibold', 'SourceHanSansCN-Bold';
    color: #fff; }
