@import "./_vars.scss";

#translator {

  button {
    margin: 0;
    padding: 0;
    border: none;
    border-left: 1px solid #fff;
    outline: none;
    height: 45px;
    width: 210px;
    float: right;
    background-color: #000;
    font-size: 23px;
    line-height: 23px;
    font-weight: normal;
    letter-spacing: 1.25px;
    color: #fff;
    span {
      font-family: 'W-Condensed-Medium', 'SourceHanSansCN-Medium';
      display: inline-block;
      padding-top: 2px;
      &:active {
        opacity: 0.7;
      }
      .system-0 & {
        color: $blue;
      }
      .system-1 & {
        color: $orange;
      }
      .system-2 & {
        color: $green;
      }
      .credits & {
        color: $gray !important;
      }
    }
    &.credits {
      span {
        color: $gray;
        font-family: 'W-Narrow-Semibold' !important;
      }
      //border-right: none !important;
      font-family: 'W-Narrow-Semibold';
      font-size: 15px;
      width: 100px;
      &.active {
        span {
          font-family: 'W-Narrow-Semibold';
          color: $gray;
        }
      }
    }

    &.active {
      span {
        font-family: 'W-Condensed-Semibold', 'SourceHanSansCN-Bold';
        color: #fff;
      }
    }


  }

}
